@model RemTestSys.Domain.ViewModels.StudentViewModel;
@{
    ViewData["Title"] = "Інформація про аккаунт";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Page"] = "AccountInfo";
}
<header>
    <h2>Аккаунт</h2>
</header>
<div class="account-info">
    <p>Студент: @Model.FirstName @Model.LastName</p>
    <p>Група: @Model.GroupName</p>
    <p>Дата реєстрації: @Model.RegistrationDate.ToString()</p>
    <a asp-action="LogOut" asp-controller="Account">Вийти з системи</a>
</div>

