@model LoginViewModel
@{
    ViewData["Title"] = "Вхід до системи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <hgroup>
            <h1>Система дистанційного тестування учнів</h1>
            <h3>Предмет: хімія та біологія</h3>
        </hgroup>
        <form asp-action="Login" asp-controller="Account" asp-antiforgery="true" method="post">
            <h3>Вхід</h3>
            <div>
                <input type="text" asp-for="StudentLogId" />
                <input type="submit" value="Ввійти" />
            </div>
            <div asp-validation-summary="ModelOnly"></div>
        </form>
        <a asp-action="Registration" asp-controller="Account">Зареєструватися</a>
    </div>

