@model RegistrationViewModel
@{
    ViewData["Title"] = "Вхід до системи";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Page"] = "Registration";
}
<div>
    <div class="login-form">
        <header class="login-form-header">
            <h3>Реєстрація учня</h3>
        </header>
        <form asp-action="Registration" asp-controller="Account" asp-antiforgery="true" method="post">
            <input type="text" asp-for="FirstName" placeholder="Ім'я" /><br />
            <input type="text" asp-for="LastName" placeholder="Прізвище" /><br />
            <select asp-for="GroupName">
                @foreach (var g in Model.GroupNameList)
                {
                    <option>@g</option>
                }
            </select><br />
            <div asp-validation-summary="ModelOnly"></div>
            <input type="submit" value="Зареєструватися" />
        </form>
    </div>
</div>

@section Footer
{
    <footer class="site-footer">
        <div class="layout between-panel">
            <a asp-action="LogIn" asp-area="Editor" asp-controller="Account">Edit</a>
            <span>&copy;2021</span>
            <a href="https://github.com/MaksimKasyanenko/RemTestSys" class="github-logo"><img src="~/images/github-logo.png" /></a>
        </div>
    </footer>
}

