@model RegistrationViewModel
@{
    ViewData["Title"] = "Вхід до системи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hgroup>
        <h1>Система дистанційного тестування учнів</h1>
        <h3>Предмет: хімія та біологія</h3>
    </hgroup>
    <form asp-action="Registration" asp-controller="Account" asp-antiforgery="true" method="post">
        <input type="text" asp-for="FirstName" />
        <input type="text" asp-for="LastName" />
        <select asp-for="GroupName">
            @foreach (var g in Model.GroupNameList)
            {
                <option>@g</option>
            }
        </select>
        <div asp-validation-summary="ModelOnly"></div>
        <input type="submit" value="Зареєструватися" />
    </form>
</div>

