@model RemTestSys.Domain.ViewModels.QuestionViewModel
<input type="hidden" asp-for="ExamId" />
<div class="form-group">
    <label class="control-label">Питання</label>
    <textarea class="form-control" rows="3" asp-for="Text"></textarea>
</div>
<div class="form-group mb-4">
    <label class="control-label">Пояснення(необов'язково)</label>
    <textarea class="form-control" rows="3" asp-for="SubText"></textarea>
</div>
<div class="form-group mb-4">
    <label class="control-label">Балів за відповідь</label>
    <input class="form-control" asp-for="Cost" />
</div>