@model RemTestSys.Areas.Editor.ViewModel.QuestionViewModel

@{
    ViewData["Title"] = "Нове питання";
}

<h2>Нове питання</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewData["TestId"]" />
            <div class="form-group">
                <label asp-for="Text" class="control-label">Питання</label>
                <textarea asp-for="Text" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="SubText" class="control-label">Пояснення(необов'язково)</label>
                <textarea asp-for="SubText" class="form-control" rows="3"></textarea>
            </div>
            <h4>Відповідь</h4>
            <hr />
            <div class="mb-4">
            	<div>
            		<h5>Тип відповіді</h5>
            		<label class="control-label"><input type="radio" value="Text" name="AnswerType" onchange="changeAnswerType(this);" checked />Текст</label>
            	</div>
            	<div>
            		<div class="" name="answerTab" data-type="Text">
            			@Html.PartialAsync("SpecialSymbolsPanel");
            			<input type="text" class="form-control" asp-for="RightText" id="textAnswerInpt" />
            			<script src="~/wwwroot/js/testing.js"></script>
            			<script>
            				window.addEventListener("load", function(){
            					registerSpecialPanel(document.getElementById("textAnswerInpt"));
            				});
            			</script>
            		</div>
            	</div>
            	<script>
            		function changeAnswerType(sender){
            			if(!sender.checked)return;
            			document.getElementsByName("answerTab").forEach(tab=>tab.classList.add("d-none"));
            			document.querySelector(`[data-type="${sender.dataSet.type}"]`).classList.remove("d-none");
            		}
            	</script>
            </div>
            
            
            <div class="form-group text-center">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Tests" asp-route-id="@ViewData["TestId"]">Назад</a>
</div>

