@model RemTestSys.Areas.Editor.ViewModel.QuestionViewModel

@{
    ViewData["Title"] = "Нове питання";
}

<h2>Нове питання</h2>
<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewData["TestId"]" name="TestId" />
            <div class="form-group">
                <label asp-for="Text" class="control-label">Питання</label>
                <textarea asp-for="Text" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="SubText" class="control-label">Пояснення(необов'язково)</label>
                <textarea asp-for="SubText" class="form-control" rows="3"></textarea>
            </div>
            <h4>Відповідь</h4>
            <hr />
            <div class="mb-4">
                <div class="border p-4 mb-2">
                    <h5>Тип відповіді</h5>
                    <hr />
                    <label class="control-label"><input type="radio" value="Text" name="AnswerType" onchange="changeAnswerType(this);" checked />Текст</label> |
                    <label class="control-label"><input type="radio" value="OneOfFourVariants" name="AnswerType" onchange="changeAnswerType(this);" />1 варіант з 4</label> |
                    <label class="control-label"><input type="radio" value="SomeVariants" name="AnswerType" onchange="changeAnswerType(this);" />Декілька варіантів</label>
                </div>
                <div>
                    @*Text answer*@
                    <div class="" name="answerTab" data-type="Text">
                        @await Html.PartialAsync("SpecialSymbolsPanel")
                        <label class="control-label">Правильна відповідь</label>
                        <input type="text" class="form-control" asp-for="RightText" id="textAnswerInput" />
                        <div class="text-center">
                            <label asp-for="CaseMatters"><input type="checkbox" asp-for="CaseMatters" /> Регістр при порівнянні має вагу</label>
                        </div>
                    </div>
                    @*OneVariantAnswer*@
                    <div class="d-none" name="answerTab" data-type="OneOfFourVariants">
                        <label class="control-label">Правильний вариант</label>
                        <input type="text" class="form-control" asp-for="RightVariant" />
                        @for (int i = 1; i < 4; i++)
                        {
                            <label class="control-label">Неправильний варіант @i</label>
                            <input type="text" class="form-control" name="Fakes" />
                        }
                    </div>
                    @*SomeVariansAnswer*@
                <div class="d-none" name="answerTab" data-type="SomeVariants">
                    <label class="control-label">Правильні варіанти</label>
                    <div id="rightVariantsContainer" class="mb-2">
                        <input type="text" class="form-control" name="SomeRightVariants" />
                    </div>
                    <div class="text-center mb-2"><button class="btn btn-primary" type="button" onclick="addRightVariant();">+</button></div>
                    <label class="control-label">Неправильні варіанти</label>
                    <div id="fakeVariantsContainer" class="mb-2">
                        <input type="text" class="form-control" name="SomeFakeVariants" />
                    </div>
                    <div class="text-center"><button class="btn btn-primary" type="button" onclick="addFakeVariant();">+</button></div>
                    <script>
                        function addRightVariant() {
                            let v = document.createElement("input");
                            v.type = "text";
                            v.classList.add("form-control");
                            v.name = "SomeRightVariants";
                            document.getElementById("rightVariantsContainer").appendChild(v);
                        }
                        function addFakeVariant() {
                            let v = document.createElement("input");
                            v.type = "text";
                            v.classList.add("form-control");
                            v.name = "SomeFakeVariants";
                            document.getElementById("fakeVariantsContainer").appendChild(v);
                        }
                    </script>
                </div>
                </div>
                <script>
                    function changeAnswerType(sender) {
                        if (!sender.checked) return;
                        document.getElementsByName("answerTab").forEach(tab => tab.classList.add("d-none"));
                        document.querySelector(`[data-type="${sender.value}"]`).classList.remove("d-none");
                    }
                </script>
            </div>


            <div class="form-group text-center">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Tests" asp-route-id="@ViewData["TestId"]">Назад</a>
</div>

