<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Maksim Kasyanenko" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header class="bg-dark bg-gradient mb-4">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Results" class="nav-link text-white">Результати тестів</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Groups" class="nav-link text-white">Групи</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Students" class="nav-link text-white">Учні</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Tests" class="nav-link text-white">Тести</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Accesses" class="nav-link text-white">Доступ</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
