<div id="specSymPanHidden" class="bg-secondary p-1" style="position:absolute; display:none;">
    <div>
        @await Html.PartialAsync("SpecialSymbolsPanel")
    </div>
    <div><button type="button" onclick="hidePanel();">X</button></div>
</div>
<script>
    window.addEventListener("load", function(){
    let inputs = document.querySelectorAll("input[type='text'], textarea");
    let panel = document.getElementById("specSymPanHidden");
    for(let inpt of inputs){
        inpt.onfocus = () => {
            let b = inpt.getBoundingClientRect();
            panel.style.bottom = window.pageYOffset+b.top+"px";
            panel.style.left = window.pageXOffset+b.left+"px";
            panel.style.display="block";
        };
    }
    });
    function hidePanel(){
        document.getElementById("specSymPanHidden").style.display="none";
    }
</script>
