<div id="specSymPanHidden" class="bg-secondary p-1" style="position:absolute;">
    @await Html.PartialAsync("SpecialSymbolsPanel")
</div>
<script>
    window.addEventListener("load", function(){
    let inputs = document.querySelectorAll("input[type='text'], textarea");
    let panel = document.getElementById("specSymPanHidden");
    for(let inpt of inputs){
        inpt.onfocus = () => {
            panel.style.bottom = window.
        };
    }
    });
</script>
