<div id="specSymPanHidden" class="bg-secondary p-1" style="position:absolute;">
    @await Html.PartialAsync("SpecialSymbolsPanel")
</div>
<script>
    let inputs = document.querySelectorAll("input[type='text'], textarea");
    let panel = document.getElementById("specSymPanHidden");
    
</script>
