@model TestViewModel

@{
    ViewData["Title"] = "Новий тест";
}

<h2>Новий тест</h2>
<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Назва</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Опис(необов'язково)</label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">Час на проходження тесту(сек.)</label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>

            <h4>Розподіл питань</h4>
            <span class="text-warning">Порядок не має значення, в тесті питання відсортовуються по кiлькості балів від найменшого.</span>
            <div id="testMap">
                <div class="form-group">
                    <input type="number" min="1" asp-for="MapParts[0].QuestionCount" />
                    <input type="number" min="0" step="0.5" asp-for="MapParts[0].QuestionCast" />
                </div>
            </div>
            <button type="button" onclick="addMapPart();" class="btn btn-primary">+</button>
            <button type="button" onclick="removeMapPart();" class="btn btn-danger">-</button>
            <script>
                let mapPartCounter = 0;
                function addMapPart() {
                    mapPartCounter++;
                    let row = "<div class='form-group'>" +
                        "<input type='number' min='1' name='MapParts[" + mapPartCounter + "].QuestionCount' />" +
                        "<input type='number' min='0' step='0.5' name='MapParts[" + mapPartCounter + "].QuestionCast' />" +
                        "</div>";
                    document.getElementById("testMap").insertAdjacentHTML("beforeEnd", row);
                }
                function removeMapPart() {
                    mapPartCounter--;
                    let map = document.getElementById("testMap");
                    map.removeChild(map.lastChild);
                }
            </script>
            <div class="form-group text-center">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку</a>
</div>

