<div id="specialSymbolsPanel">
    <div class="uniform-panel mb-2">
        <button data-symbol="↑" class="btn btn-secondary">&#8593;</button>
        <button data-symbol="↓" class="btn btn-secondary">&#8595;</button>
        <button data-symbol="→" class="btn btn-secondary">&#8594;</button>
        <button data-symbol="+" class="btn btn-secondary">+</button>
    </div>
    <div class="uniform-panel mb-2">
        <button data-symbol="₁" class="btn btn-secondary">X₁</button>
        <button data-symbol="₂" class="btn btn-secondary">X₂</button>
        <button data-symbol="₃" class="btn btn-secondary">X₃</button>
        <button data-symbol="₄" class="btn btn-secondary">X₄</button>
        <button data-symbol="₅" class="btn btn-secondary">X₅</button>
        <button data-symbol="₆" class="btn btn-secondary">X₆</button>
        <button data-symbol="₇" class="btn btn-secondary">X₇</button>
        <button data-symbol="₈" class="btn btn-secondary">X₈</button>
        <button data-symbol="₉" class="btn btn-secondary">X₉</button>
        <button data-symbol="₀" class="btn btn-secondary">X₀</button>
    </div>
</div>
<script>
    window.addEventListener("load", function () {
        let inptSymbols = document.querySelectorAll("#specialSymbolsPanel button");
        let input = document.getElementById("textAnswerInput");
        for (let btn of inptSymbols) {
            btn.onclick = (ev) => {
                ev.preventDefault();
                input.value = input.value + btn.dataset.symbol;
                input.focus();
            };
        }
    });
</script>
