<div id="specialSymbolsPanel">
    <div class="uniform-panel mb-1">
        <button data-symbol="↑">&#8593;</button>
        <button data-symbol="↓">&#8595;</button>
        <button data-symbol="→">&#8594;</button>
        <button data-symbol="⁺">X⁺</button>
        <button data-symbol="⁻">X⁻</button>
    </div>
    <div class="uniform-panel mb-1">
        <button data-symbol="¹">X¹</button>
        <button data-symbol="²">X²</button>
        <button data-symbol="³">X³</button>
        <button data-symbol="⁴">X⁴</button>
        <button data-symbol="⁵">X⁵</button>
        <button data-symbol="⁶">X⁶</button>
        <button data-symbol="⁷">X⁷</button>
        <button data-symbol="⁸">X⁸</button>
        <button data-symbol="⁹">X⁹</button>
        <button data-symbol="⁰">X⁰</button>
    </div>
    <div class="uniform-panel mb-1">
        <button data-symbol="₁">X₁</button>
        <button data-symbol="₂">X₂</button>
        <button data-symbol="₃">X₃</button>
        <button data-symbol="₄">X₄</button>
        <button data-symbol="₅">X₅</button>
        <button data-symbol="₆">X₆</button>
        <button data-symbol="₇">X₇</button>
        <button data-symbol="₈">X₈</button>
        <button data-symbol="₉">X₉</button>
        <button data-symbol="₀">X₀</button>
    </div>
</div>
<script>
    window.addEventListener("load", function () {
        let inptSymbols = document.querySelectorAll("#specialSymbolsPanel button");
        let inputs = document.querySelectorAll("input[type='text'], textarea");
        let activeElement = null;
        for (let inpt of inputs) {
            inpt.addEventListener("focus", () => activeElement = inpt);
        }
        for (let btn of inptSymbols) {
            btn.onclick = (ev) => {
                ev.preventDefault();
                if (activeElement) {
                    activeElement.value = activeElement.value + btn.dataset.symbol;
                    activeElement.focus();
                }
            };
        }
    });
</script>
