<div id="connectedPairsAnswerFormWrp" class="hidden">
    <div></div>
    <div class="uniform-panel">
        <ul id="connectedPairsLeftCol">
            @*<li><button>text</button></li>*@
        </ul>
        <ul id="connectedPairsRightCol">
            @*<li><button>text</button></li>*@
        </ul>
    </div>
    <div>
        <form class="between-panel">
            <button class="cancel">Відмінити</button>
            <input type="submit" value="Підтвердити" />
        </form>
    </div>
</div>