<div id="connectedPairsAnswerFormWrp">
    <div></div>
    <div>
        <ul id="connectedPairsLeftCol">
            @*<li><button>text</button></li>*@
        </ul>
        <ul id="connectedPairsRightCol">
            @*<li><button>text</button></li>*@
        </ul>
    </div>
    <div>
        <button class="cancel">Відмінити</button>
        <form>
            <input type="submit" value="Підтвердити" />
        </form>
    </div>
</div>