<div id="OneVariantAnswerFormWrp">
    <div><button></button><button></button></div>
    <div><button></button><button></button></div>
    <form>
        <input type="hidden" />
        <input type="submit" value="Підтвердити" />
    </form>
</div>