<div id="OneVariantAnswerFormWrp" class="hidden">
    <div class="uniform-panel"><button></button><button></button></div>
    <div class="uniform-panel"><button></button><button></button></div>
    <form class="center-panel">
        <input type="hidden" />
        <input type="submit" value="Підтвердити" />
    </form>
</div>