<div id="sequenceAnswerFormWrp">
    <div id="sequenceAnswerDisp"></div>
    <ul>
        @*<li><button>some text</button></li>*@
    </ul>
    <div>
        <button class="cancel">Відмінити</button>
        <form>
            <input type="submit" value="Підтвердити" />
        </form>
    </div>
</div>