<div id="sequenceAnswerFormWrp">
    <div id="sequenceAnswerDisp"></div>
    <ul>
        @*<li><button>some text</button></li>*@
    </ul>
    <form class="between-panel">
        <button class="cancel">Відмінити</button>
        <input type="submit" value="Підтвердити" />
    </form>
</div>