<div id="someVariantAnswerFormWrp" class="hidden">
    <ul>
        @*must be - <li><label><input type='checkbox'>TextOfLabel</label></li>*@
    </ul>
    <form class="center-panel">
        <input type="submit" value="Підтвердити" />
    </form>
</div>