<div id="someVariantAnswerFormWrp">
    <ul>
        @*must be - <li><label><input type='checkbox'>TextOfLabel</label></li>*@
    </ul>
    <form>
        <input type="submit" value="Підтвердити" />
    </form>
</div>