<div id="textAnswerFormWrp" class="hidden">
    @await Html.PartialAsync("SpecialSymbolsPanel")
    <form>
        <input type="text" placeholder="Ваша відповідь" id="textAnswerInput" />
        <div class="center-panel">
            <input type="submit" value="Підтвердити" />
        </div>
    </form>
</div>