<div id="textAnswerFormWrp">
    @await Html.PartialAsync("~/Views/AnswerForms/SpecialSymbolsPanel.cshtml")
    <form>
        <div>
            <input type="text" placeholder="Ваша відповідь" />
            <input type="submit" value="Підтвердити" />
        </div>
    </form>
</div>