<div id="textAnswerFormWrp">
    <div id="specialSymbolsPanel">
        <button data-state="off">X<sub>n</sub></button>
        <button data-symbol="a">&#8593;</button>
        <button data-symbol="b">&#8595;</button>
        <button data-symbol="c">&#8594;</button>
    </div>
    <form>
        <div>
            <input type="text" placeholder="Ваша відповідь" />
            <input type="submit" value="Підтвердити" />
        </div>
    </form>
</div>