<div id="textAnswerFormWrp" class="hidden">
    @await Html.PartialAsync("~/Views/AnswerForms/SpecialSymbolsPanel.cshtml")
    <form>
        <input type="text" placeholder="Ваша відповідь" />
        <div class="center-panel">
            <input type="submit" value="Підтвердити" />
        </div>
    </form>
</div>