@model RemTestSys.ViewModel.ResultOfTestingViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Результат тестування";
    ViewData["Page"] = "ResultOfTesting";
}

<h1>Тест @Model.TestName завершено</h1>

<p>Ваша оцінка - @Model.Mark</p>
<a asp-action="AvailableTests">На головну</a>
