@model RemTestSys.ViewModel.ResultOfTestingViewModel

@{
    ViewData["Title"] = "Результат тестування";
}

<h1>Тест @Model.TestName завершено</h1>

<p>Ваша оцінка - @Model.Mark</p>
<a asp-action="Exams">На головну</a>
