@model List<ResultOfTestingViewModel>
@{
    ViewData["Title"] = "Результати тестів";
    ViewData["Page"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1>Результати пройденних тестів</h1>
</header>
@if (Model.Count > 0)
{
    <table>
        <tbody>
            <tr>
                <th>Назва тесту</th>
                <th>Дата проходження</th>
                <th>Оцінка</th>
            </tr>
            @foreach (ResultOfTestingViewModel res in Model)
            {
                <tr>
                    <td>@res.TestName</td>
                    <td>@($"{res.PassedAt.Day}.{res.PassedAt.Month}.{res.PassedAt.Year}, {res.PassedAt.Hour}:{res.PassedAt.Minute}")</td>
                    <td>@res.Mark</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Не знайдено жодного результату</p>
}

