@model RemTestSys.ViewModel.ResultOfTestingViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Результат тестування";
    ViewData["Page"] = "ResultOfTesting";
}

<header>
    <h2>Тест "@Model.TestName" завершено</h2>
</header>

<p class="big-text">Ваша оцінка - @Model.Mark</p>
<div class="center-panel">
    <a asp-action="AvailableTests" class="primary-button">На головну</a>
</div>
