@model TestingViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Тестування - " + Model.TestName;
    ViewData["Page"] = "Testing";
}
<input type="hidden" id="scriptData" data-sessionid="@Model.SessionId" data-hrefresult='@Url.Action("ResultOfTesting", "Student")' />
<header>
    <h2>
        @Model.TestName
    </h2>
</header>
<div class="testing-dialog-widget">
    <div id="placeholder" class="download-cover hidden">Будь ласка, зачекайте...</div>
    <header class="between-panel">
        <h3>
            Питання <span id="questionNum">-</span> з @Model.QuestionsCount
        </h3>
        <h3 class="timer right-panel">
            <img src="~/images/clock-ico.svg" />
            <span id="timerDisp">-- : --</span>
        </h3>
    </header>
    <div class="question-text-container">
        <p id="questionText"></p>
        <p id="questionSubText"></p>
    </div>
    <div class="answer-forms-container">
        @await Html.PartialAsync("~/Views/AnswerForms/ConfirmForm.cshtml")
        @await Html.PartialAsync("~/Views/AnswerForms/TextAnswerForm.cshtml")
        @await Html.PartialAsync("~/Views/AnswerForms/OneOfFourVariantsAnswerForm.cshtml")
        @await Html.PartialAsync("~/Views/AnswerForms/SomeVariantAnswerForm.cshtml")
        @await Html.PartialAsync("~/Views/AnswerForms/SequenceAnswerForm.cshtml")
        @await Html.PartialAsync("~/Views/AnswerForms/ConnectedPairsAnswerForm.cshtml")
    </div>
</div>
<script src="~/scripts/testing.js"></script>
